{% load thumbnail %}

<script type="text/javascript">
function itemLoadCallbackFunction(carousel, state){
    for (var i = carousel.first; i <= carousel.last; i++) {
        // Check if the item already exists
        if (!carousel.has(i)) {
            // Add the item
            carousel.add(i, "I'm item #" + i);
        }
    }
};

jQuery(document).ready(function() {
    $('#image-list-container').jcarousel({
        itemLoadCallback: itemLoadCallbackFunction
    });
    
    $('.jcarousel-item').hover(function(){
        if ($(this).hasClass('active'))
            return;
        var image = $(this).find('img');
        image.attr('src', $(this).attr('thumb_color'));
        
    }, function(){
        if ($(this).hasClass('active'))
            return;
        var image = $(this).find('img');
        image.attr('src', $(this).attr('thumb_bw'));
    });
    
    $('.jcarousel-item').click(function() {
        if ($(this).hasClass('active'))
            return;
        
        $('#image-title').html('-> ' + $(this).attr('title'))
        
        // das aktuelle image auf das color thumb vom li setzen
        var image = $(this).find('img');
        image.attr('src', $(this).attr('thumb_color'));

        // das image des letzten aktiven li auf dessen bw_thumb setzen
        var last_active = $('#image-list-container ul').find('li.active');
        last_active.removeClass('active').find('img').attr('src', last_active.attr('thumb_bw'));
        
        // aktuelle li active
        $(this).addClass('active');
        
        var src = $(this).attr("rel");
        var img = new Image();
        $(img)
            .load(function () {
                $("#image").html(this);
                $(".loader").hide();
                $(this).fadeIn();
            })
            .error(function() {
            })
            
            .attr('src', src)
            .fadeIn("slow");
        // Image geladen
    });
    
    var first = $('.jcarousel-item:first');
    var img = new Image();
    $(img)
        .load(function () {
            $("#image").html(this);
            $(".loader").hide();
            $(this).fadeIn();
        })
        .error(function() {
        })
        .attr('src', first.attr("rel"))
        .fadeIn("slow");
    // Image geladen
    
    first.addClass('active');
    var first_image = first.find('img');
    first_image.attr('src', first.attr('thumb_color'));
    $('#image-title').html('-> ' + first.attr('title'))
});
</script>
<div id="image-container">
    <div id="ilike" class="right"><a href="#"><img src="/site_media/base/gfx/i-like.png"></a></div>
    <span id="gallery-title" class="darkblue"></span><span id="image-title"></span>
    <div class="clear"></div>
    <div id="iamge-description">
        TEST TEST TEST
    </div>
    <div id="image"></div>
</div>
<div id="image-list-container" class="jcarousel-skin-tango">
    <ul>
        {% for photo in gallery.photo_set.all %}
            <li rel="{% thumbnail photo.image 970x280 crop %}" thumb_color="{% thumbnail photo.image 130x88 crop upscale %}" thumb_bw="{% thumbnail photo.image 130x88 crop upscale bw %}" title="{{ photo.title }}">
                <img src="{% thumbnail photo.image 130x88 crop upscale bw %}" /></li>
        {% endfor %}
    </ul>
</div>