{% load thumbnail %}

<style type="text/css">
#gallery_container {height:330px; background-color:#fff; }
#galleries {list-style:none; }
#galleries li {display:inline;}
#galleries li.active { background-color:#ccc;}
</style>


<script type="text/javascript">
jQuery(document).ready(function() {      
    $('#galleries > li').click(function() {
	var galid = $(this).attr('galid');
	// imggal/get_images_for/(\d+)
	$('gallery_container').remove();
	$('#gallery_container').load('/imggal/get_images_for/' + galid + '/');
    });
});
</script>

<!--

Hier muss ein Placeholder eingefügt werden der solange da ist
bis die erste gallerie geladen wird.


-->
<div id="gallery_container">
    
</div>

<h2>Weitere Gallerien</h2>
<div>
    <ul id="galleries"> 
    {% for gallery in galleries %}
        <li galid="{{ gallery.id }}" class="{% if forloop.first %}active{% endif %}">{{ gallery }}</li>
    {% endfor %}
    </ul>
</div>
