{% extends "base.html" %}
{% load thumbnail %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}base/carousel/tango/skin.css" />
{% endblock stylesheet %}


{% block javascript %}
<script type="text/javascript" src="{{MEDIA_URL}}base/carousel/jquery.jcarousel.min.js"></script>
{% endblock javascript %}


{% block base_content %}

<style type="text/css">
#image_container {height:330px; background-color:#fff; }
#galleries {list-style:none; }
#galleries li {display:inline;}
#galleries li.active { background-color:#ccc;}

</style>


<script type="text/javascript">

function itemLoadCallbackFunction(carousel, state)
{
    console.log("itemLoadCallbackFunction");
    for (var i = carousel.first; i <= carousel.last; i++) {
        // Check if the item already exists
        if (!carousel.has(i)) {
            // Add the item
            carousel.add(i, "I'm item #" + i);
        }
    }
};

jQuery(document).ready(function() {  
    $('#image_list_container').jcarousel({
        itemLoadCallback: itemLoadCallbackFunction
    });
    
    $('.jcarousel-item').click(function() {
	var someattr = $(this).attr("someattr");
	console.log(someattr);
    });
});
</script>


<div id="image_container">
     {{ first_gallery }}
</div>

<div id="image_list_container" class="jcarousel-skin-tango">
    <ul>
        {% for photo in first_gallery.photo_set.all %}
            <li someattr="id"><img src="{% thumbnail photo.image 100x50  %}" /></li>
        {% endfor %}
    </ul>
</div>

<h2>Weitere Gallerien</h2>
<div>
    <ul id="galleries"> 
    {% for gallery in galleries %}
        <li galid="{{ gallery.id }}" class="{% if forloop.first %}active{% endif %}">{{ gallery }}</li>
    {% endfor %}
    </ul>
</div>
{% endblock base_content %}