<?xml version="1.1" encoding="UTF-8"?>
{% load cms_tags menu_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
    <title>{% page_attribute page_title %} | Creative Cubes - einfach kreativ</title>
    <meta name="author" content="Creative Cubes" />
    <meta name="copyright" content="Creative Cubes" />
    <meta name="description" content="{% page_attribute meta_description %}" />
    <meta name="keywords" content="{% page_attribute meta_keywords %}" />
    <link rel="shortcut icon" href="{{ MEDIA_URL }}gfx/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/site_media/css/base.css" />
    {% block stylesheet %}{% endblock %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
</head>
<script type="text/javascript">
    
</script>
<body>
    
    <div id="" style="width:920px; height:500px; margin:auto; border:1px solid red;">
        {% block base_content %}
        {% endblock %}
    </div>
    
</body>
</html>
