<div id="left" class="left">
    <h1>Sponsoren</h1>
    <div class="sponsor primajob">
        <a href="#"></a>
    </div>
    <div class="sponsor heico-kart">
        <a href="#" class="heico left"></a>
        <a href="#" class="kart left"></a>
    </div>
    <div class="sponsor"></div>
    <div class="sponsor"></div>
    <div class="sponsor"></div>

    <h1 style="padding-top:7px;">Facebook</h1>
    <div class="facebook">
        <fb:fan profile_id="91113454799" stream="0" connections="14" logobar="0" width="290"></fb:fan>
    <!--
        <div class="facebook-head">
            <img src="#" height="37" width="37" class="left" />
            <div class="headline left">
                Heiko-Motor..<span>auf Facebook</span>
            </div>
            <div class="ilike left">
                Dir gefällt das.&nbsp;&nbsp;<a href="#">Gefällt mir nicht mehr</a>
            </div>
        </div>
    -->
    </div>
</div>