<div id="left" class="left">
    <h1>Sponsoren __ </h1>
    <div class="sponsor"></div>
    <div class="sponsor"></div>
    <div class="sponsor"></div>
    <div class="sponsor"></div>
    <div class="sponsor"></div>
    <h1 style="padding-top:7px;">Facebook</h1>
    <div class="facebook">
        <div class="facebook-head">
            <img src="#" height="37" width="37" class="left" />
            <div class="headline left">
                Heiko-Motor..<span>auf Facebook</span>
            </div>
            <div class="ilike left">
                Dir gefällt das.&nbsp;&nbsp;<a href="#">Gefällt mir nicht mehr</a>
            </div>
        </div>
    </div>
</div>