{% extends 'base.html' %}
{% load cms_tags %}

{% block stylesheet %}
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}base/css/home.css" />
{% endblock stylesheet %}

{% block javascript %}
<script type="text/javascript">
/*
    $(document).ready(function(){
        var loader = '<img class="loader" src="{{ MEDIA_URL }}gfx/loader.gif" alt="loading" />';
        $('.sponsor').each(function(){
            console.log("each");
            // img und den hover besorgen und das data div löschen
            var data = $(this).find('.data');
            var sponsor = data.attr('sponsor'); 
            var img_url = data.attr('img');
            var img_hover = data.attr('img_hover');
            data.remove();
            var img = new Image();
            $(img)
                .load(function () {
                    var container = $("#"+sponsor);
                    $(".loader").hide();
                    $(this).fadeIn();
                })
                .error(function() {
                })
                .attr('src', img_url);
            // Image geladen
        });
    });
*/
</script>
{% endblock javascript %}

{% block base_content %}
    <div id="left" class="left">
        <h1>Sponsoren</h1>
        {% placeholder home_sponsoren %}
        <div class="sponsor"></div>
        <div class="sponsor"></div>
        <div class="sponsor"></div>
        <div class="sponsor"></div>
        <div class="sponsor"></div>
        <h1 style="padding-top:7px;">Facebook</h1>
        <div class="facebook">
            <div class="facebook-head">
                <img src="#" height="37" width="37" class="left" />
                <div class="headline left">
                    Heiko-Motor..<span>auf Facebook</span>
                </div>
                <div class="ilike left">
                    Dir gefällt das.&nbsp;&nbsp;<a href="#">Gefällt mir nicht mehr</a>
                </div>
            </div>
        </div>
    </div>
    <div id="right" class="left">
        <div class="article">
            <div class="right">
                <a href="#"><img src="{{ MEDIA_URL }}base/gfx/i-like.png" /></a>
            </div>
            <h1 class="darkblue">HEICO Motorsport startet im Web voll durch!</h1>
            <div class="article-date">Freitag, den 07.10.2010</div>
            <div class="article-image left">
                <img src="#" width="165" height="85" />
            </div>
            <div class="article-content left">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                <div class="article-links">
                    <div class="article-readmore left"><a href="">+ Weiterlesen ...</a></div>
                    <div class="article-email left"><a href="">+ Per E-Mail versenden</a></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="article">
            <div class="right">
                <a href="#"><img src="{{ MEDIA_URL }}base/gfx/i-like.png" /></a>
            </div>
            <h1 class="darkblue">SLS GT3 punktet auf ganzer Linie.</h1>
            <div class="article-date">Dienstag, den 07.10.2010</div>
            <div class="article-image left">
                <img src="#" width="165" height="85" />
            </div>
            <div class="article-content left">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                <div class="article-links">
                    <div class="article-readmore left"><a href="">+ Weiterlesen ...</a></div>
                    <div class="article-email left"><a href="">+ Per E-Mail versenden</a></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="more-news">
            <a href="#">+ Weitere News</a>
        </div>
        <div class="new-images left">
            <h1 class="darkblue">Neue Fotos</h1>
            <div class="new-images-list">
                <div class="new-image left">
                    <img src="" width="142" height="95" />
                </div>
                <div class="new-image left" style="margin-left:10px;">
                    <img src="" width="142" height="95" />
                </div>
                <div class="new-image left">
                    <img src="" width="142" height="95" />
                </div>
                <div class="new-image left" style="margin-left:10px;">
                    <img src="" width="142" height="95" />
                </div>
            </div>
        </div>
        <div class="new-movies left">
            <h1 class="darkblue">Neue Videos</h1>
            <div class="new-movies-box">
                <div class="new-movies-pre">
                    <img src="#" width="297" height="170" />
                </div>
                <div class="new-movies-desc">
                <h2 class="description">Erster Boxenstop Nürburgring 2010</h2>
                Länge 00:22
                </div>
            </div>
        </div>
        {% placeholder home_content %}
    </div>
    <div class="clear"></div>        
{% endblock base_content %}
