{% extends 'base.html' %}
{% load cms_tags %}

{% block base_content %}
<style type="text/css">
    .sponsor {width:290px; height:73px; background-color:#ccc;}
</style>
<script type="text/javascript">
/*
    $(document).ready(function(){
        var loader = '<img class="loader" src="{{ MEDIA_URL }}gfx/loader.gif" alt="loading" />';
        $('.sponsor').each(function(){
            console.log("each");
            // img und den hover besorgen und das data div löschen
            var data = $(this).find('.data');
            var sponsor = data.attr('sponsor'); 
            var img_url = data.attr('img');
            var img_hover = data.attr('img_hover');
            data.remove();
            var img = new Image();
            $(img)
                .load(function () {
                    var container = $("#"+sponsor);
                    $(".loader").hide();
                    $(this).fadeIn();
                })
                .error(function() {
                })
                .attr('src', img_url);
            // Image geladen
        });
    });
*/
</script>

    
    <div id="ponsosoren_container" style="width:300px; float:left; border:1px solid #000;">
        <h1>Sponsoren</h1>
        {% placeholder home_sponsoren %}
    </div>
    
    <div id="content_container" style="width:400px; float:right; border:1px solid #000;">
        <h1>Content</h1>
        {% placeholder home_content %}
    </div>
    
{% endblock %}
