{% extends 'base.html' %}
{% load cms_tags %}

{% block stylesheet %}
{% endblock stylesheet %}

{% block bannerimage %}
<img src="{{ MEDIA_URL }}base/gfx/impressum.jpg" />
{% endblock bannerimage %}

{% block base_content %}
    {% include "cms/pages/_leftcontent.html" %}
    </div>
    <div id="right" class="left">
        <div class="default_content right-content">
            {% placeholder default_content %}
        </div>
    </div>
    <div class="clear"></div>
{% endblock base_content %}