{% extends 'base.html' %}
{% load cms_tags %}

{% block stylesheet %}
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}base/css/gallery.css" />
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}base/carousel/tango/skin.css" />
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}base/css/no-banner.css" />
{% endblock stylesheet %}

{% block javascript %}
<script type="text/javascript" src="{{MEDIA_URL}}base/carousel/jquery.jcarousel.min.js"></script>
{% endblock javascript %}

{% block base_content %}
    {% placeholder showroom_content %}
{% endblock %}