
<div class="article">
    {{ entry.title }}
    <div class="right">
        <a href="#"><img src="/site_media/base/gfx/i-like.png"></a>
    </div>
    <h1 class="darkblue">{{ entry.title }}</h1>
    <div class="article-date">{{ entry.posted }}</div>
    <div class="article-image left">
        <img height="85" width="165" src="{{ entry.image.url }}">
    </div>
    <div class="article-content left">
       {{ entry.message }}
       <div class="article-links">
            <div class="article-readmore left"><a href="">+ Weiterlesen ...</a></div>
            <div class="article-email left"><a href="">+ Per E-Mail versenden</a></div>
        </div>
    </div>
    <div class="clear"></div>
</div>